@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');


*{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

body{
    font-family: 'Lato', sans-serif;
    padding: 1.5% 0.5%;  
    text-align: center;
}

h1{
    margin: 1% 0% 1% 0%;  
}

h3{
    margin: 2% 0% 1% 0%;
}

section{
    background-color: whitesmoke;
    padding: 1%;
}

span{
    font-weight: bold;
    margin: 0 1% 0 0;
}
img{
    width: 60%;
    padding: 1%;
}

.head{
text-align: center;
margin: 1% auto;
background: white;
padding: 1%;
}

.head p{
    padding: 1% auto 1% auto;
}

.sub{
    width: 30%;
    text-align: left;
    margin:0 auto;
    padding: 0 0 3% 0;

}

.fact{
margin: 5% 0%;
font-style: italic;
}

li{
    text-align: left;
    margin: 2% 0% 2% 0%;
}

h2 ,  h4{
    margin: 0;
}
    

a{
    color: rgb(80, 133, 247);
}

@media only screen and (max-width: 600px) {

    .sub{
        width: 80%;
    }
}